<form class="flex flex-col w-full items-center justify-content-start p-10 sm:p-10 md:p-12" [formGroup]="personalForm">

    <div class="text-xl font-medium flex flex-row justify-content-start w-full mb-8">Tell us about yourself:</div>

    <mat-form-field class="w-full" [floatLabel]="'always'">
        <mat-label>Full Name</mat-label>
        <input autocomplete="off" matInput formControlName="fullName" required class="px-2 dark:bg-accent"
            (blur)="removeSurroundingSpace($event, 'fullName')"
            (keydown)="preventLeadingSpaceAndMaxLength($event, 'fullName', 20)">

        <mat-error *ngIf="fullName.touched && fullName.hasError('required')">
            Full Name required
        </mat-error>
        <mat-error *ngIf="fullName.touched && fullName.hasError('minlength')">
            Full Name min 3 chars length
        </mat-error>
        <mat-error *ngIf="fullName.touched && fullName.hasError('maxlength')">
            Full Name max 20 chars length
        </mat-error>

        <mat-hint class="text-right">{{ fullName.value.length }} / 20</mat-hint>
    </mat-form-field>

    <mat-form-field class="w-full" [floatLabel]="'always'">
        <mat-label>Most Used Word:</mat-label>

        <mat-chip-list #chipList aria-label="Words" multiple class="p-4">
            <mat-chip *ngFor="let item of data">
                {{item.word}}

                <button matChipRemove>
                    {{ item.count }}
                </button>
            </mat-chip>
            <input placeholder="Words..." [matChipInputFor]="chipList" readonly>
        </mat-chip-list>
    </mat-form-field>


</form>